/*   HTML    */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #F5F5F5;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 3rem);
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: var(--main-bg-color);
}
/*   HEADER    */
header nav {
    display: flex;
    justify-content: center;
}
header nav ul {
    margin: 2vw;
    display: flex;
    justify-content: center;
    gap: 4vw;
    border: 1px solid #00000021;
    border-radius: 5vw;
    padding: 1.2vw 0.4vw;
}
header nav ul li a {
    padding:  15px 20px;
    border-radius: 4vw;
    border: none;
}
header nav ul li a.atual {
    background-color: #000000;
    color: white;
}
/*   MAIN    */
section.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vw auto 0 auto;
    width: 80%;
    max-width: 1200px;
}
section.banner h1 {
    width: 40vw;
    font-size: 3rem;
}
section.banner h1 span {
    font-weight: bold;
}
section.banner p {
    font-size: 1.5rem;
    color: #7C7C7C;
}
section.banner p strong {
    color: #7C7C7C;
}
section.posts {
    margin: 5vw auto 0 auto;
    width: 80%;
    max-width: 1200px;
}
section.posts > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
section.posts > ul > li {
    background-color: white;
    border-radius: 1vw;
    border: 1px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
    
}
section.posts > ul > li img {
    margin: 0 0 1vw 0;
}
section.posts > ul > li {
    padding: 1vw 3vw;
}
section.posts > ul > li p {
    line-height: 2rem;
    margin: 0 0 1.4vw 0;
}
section.posts > ul > li h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 1vw 0;
}
section.posts > ul > li ul {
    display: flex;
    gap: 20px;
    font-weight: bold;
}
section.posts > ul > li ul li a {
    background-color: rgba(128, 128, 128, 0.199);
    padding:5px;
    border-radius: 1vw;
}
footer.home {
    margin: 5rem auto 5rem auto;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    background-color: #ffffff;
    color: #7C7C7C;
    padding: 2vw 0;
    border: 1px solid #7c7c7cb6 ;
    border-radius: 2rem;
    font-size: 1rem;
}
section.eco {
    margin: 5vw auto 0 auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.eco h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.finwise {
    margin: 2vw auto 5vw auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.finwise h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.finwise img {
    width: 100%;
    padding: 1vw 0 0 0;
}
section.agro {
    margin: 0vw auto 2vw auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.agro h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.pic {
    margin: 0vw auto 2vw auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.pic h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.pic img {
    width: 100%;
    padding: 1vw 0 0 0;
}
section.track {
    margin: 0vw auto 2vw auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.track h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.hub {
    margin: 0vw auto 2vw auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 2rem;
    color: #7C7C7C;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.hub h2 {
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}
section.hub img {
    width: 100%;
    padding: 1vw 0 0 0;
}
section.links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vw auto 0 auto;
    width: 80%;
    max-width: 1200px;
    text-align: center;
}
section.links ul li {
    background-color: #ffffff;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.267);
}
section.links ul li a {
    display: flex;
    align-items: center;
    margin: 0vw 10vw ;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
	header {
        display: block ;
        font-size: 2.5vw;
    }
    header nav ul {
        padding: 4vw 1vw;
        border-radius: 20vw;
        font-size: 3vw;
    }
    header nav ul li a {
        padding: 3.5vw;
        border-radius: 20vw;
    }
    section.banner {
        grid-template-columns: none;
        margin: 5vw auto 0 auto;
        width: 80%;
        max-width: 1200px;
    }
    section.banner h1 {
        font-size: 2.2rem;
    }
    section.banner p {
        margin: 2rem 0;
    }
    section.posts > ul {
        display: block;
    }
    section.posts ul li{
    margin: 0 0 3rem 0;
    }
    section.posts ul li ul.shop li:last-child {
        justify-content: space-between;
        margin: 0 0 0 0;
    }
} 
